<div class="dropdown">
    <button class="dropdown-toggle"data-toggle="dropdown"  >下拉菜单
    <span class="caret"></span></button>
    <ul class="dropdown-menu" >
        <li>菜单项1</li>
        <li>菜单项2</li>
    </ul>
</div>
